<div class="chat-container">
  <div class="message-list">
    <div *ngFor="let message of messages; trackBy: trackById">
      <div [ngClass]="{'message-sent': message.sender === username, 'message-received': message.sender !== username}">
        <span class="message-sender">{{ message.sender }}</span>
        <p class="message-content">{{ message.content }}</p>
        <small class="message-timestamp">{{ message.createdAt | date:'shortTime' }}</small>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input [(ngModel)]="messageContent" placeholder="Type a message..." role="textbox" class="input-field"/>
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>
</div>
