<div class="chat-container">
  <div class="message-list">
    @for (message of messages; track trackById) {
      <ng-container>
        <div [ngClass]="{'message-sent': message.sender === username,
                        'message-received': message.sender !== username,
                        'sent': message.status === 'SENT',
                        'delivered': message.status === 'DELIVERED',
                        'read': message.status === 'READ'}">
          <span class="message-sender">{{ message.sender }}</span>
          <p class="message-content">{{ message.content }}</p>
          <small class="message-timestamp">{{ message.createdAt | date:'shortTime' }}</small>
        </div>
        @if (message.sender === username) {
          <small class="message-status">{{ message.status }}</small>
        }
      </ng-container>
    }
  </div>
  <div class="chat-input">
    <input [(ngModel)]="messageContent" placeholder="Type a message..." role="textbox" class="input-field"/>
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>
</div>
